#heading1{
    text-align: center;
    color: white;
}

#header1{
    background-color: green;
    margin-top: 10px;
    margin-bottom: 7px;
}

#heading2{
    color: red;
    text-align: center;
    margin-top: 10px;
}

